@font-face{
    font-family: 'Digital';
    src: url('digital-7.ttf')
}

/* Buttons Style*/

#numc{
    margin-right: 5px;
}

#numpm{
    margin-right: 5px;
}

#numcut{
    margin-right: 5px;
}
#numdiv{
}

#num7{
    margin-right: 5px;
}

#num8{
    margin-right: 5px;
}

#num9{
    margin-right: 5px;
}

#nummul{
    
}

#num4{
    margin-right: 5px;
}

#num5{
    margin-right: 5px;
}

#num6{
    margin-right: 5px;
}

#num1{
    margin-right: 5px;
}

#num2{
    margin-right: 5px;
}

#num3{
    margin-right: 5px;
}

#num0{
    margin-right: 5px;
}

#numdot{
    margin-right: 5px;
}

.title{
    display: flex;
}
.sun_battery{
    margin-top: 23px;
    margin-left: 30px;
    width: 107px;
    height: 30px;
    border-radius: 3px;
    background-color: #3d2115;
    background-image: repeating-linear-gradient(to right,transparent,transparent 26px,rgba(255, 255, 255, .1) 26px,rgba(255, 255, 255, .1) 27px);
    box-shadow: 0 -3px 5px -3px rgba(255, 255, 255, .2),
              5px 0 3px -5px rgba(255, 255, 255, .8),
              0 2px 5px -2px rgba(0, 0, 0, .5),
              -3px 0 3px -1px rgba(0, 0, 0, .8),
              inset 0 -5px 3px -3px rgba(0, 0, 0, .5),
              inset 5px 0 5px -2px rgba(0, 0, 0, .8);
}

form{
    display: grid;
    background: radial-gradient(#5e6470, #161213) !important;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7),
    0 0 20px 0 rgba(0, 0, 0, .5),
    0 0 25px 0 rgba(0, 0, 0, .3),
    10px 0 4px 10px rgba(0, 0, 0, .3),
    inset 0 0 3px 0 rgba(0, 0, 0, .7),
    inset 0 0 10px 0 rgba(0, 0, 0, .5),
    inset 0 -25px 5px 0 rgba(0, 0, 0, .2),
    inset 0 -5px 10px 0 rgba(255, 255, 255, .3);
}

.form-group-1 input{
    font-family: 'Orbitron';
    font-stretch: ;
    font-style: normal;
    color: black;
    width: 304px;
    height: 60px;
    border: 2px solid black;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 50px;
    text-align: right;
    background: linear-gradient(-155deg, #44443a 0%, #656f66 100%);;
    box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, .3),
    5px 0 3px -5px rgba(255, 255, 255, .8),
    0 5px 5px -3px rgba(0, 0, 0, .5),
    -3px 0 3px -1px rgba(0, 0, 0, .8),
    inset 0 -5px 3px -3px rgba(0, 0, 0, .5),
    inset 5px 0 5px -2px rgba(0, 0, 0, .8);
}

.form-group-2 button{
    font-size: 50px;
    color: black;
    background-color: white;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    outline: none;
}

.form-group-3 button{
    font-size: 50px;
    color: black;
    background-color: white;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    outline: none;
}

.form-group-4 button{
    font-size: 50px;
    color: black;
    background-color: white;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    outline: none;
}

.form-group-5 button{
    font-size: 50px;
    color: black;
    background-color: white;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    outline: none;
}

.form-group-6 button{
    font-size: 50px;
    color: white;
    background-color: black;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    outline: none;
}

button{
    font-weight: bold;
    font-family: 'Times New Roman';
    border: 0px solid white;
    color: white !important;
    background: linear-gradient(25deg, #525a65, #3b424c) !important;
    box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, .2),
    inset -3px 2px 5px 0 rgba(0, 0, 0, .2),
    4px 1px 1px 0 rgba(0, 0, 0, .5),
    -1px -1px 1px 0 rgba(0, 0, 0, .5),
    4px -1px 1px 0 rgba(0, 0, 0, .5),
    -1px -1px 5px 0 rgba(0, 0, 0, .5),
    5px 0 1px 0 rgba(255, 255, 255, .3); !important
  transform: translate(1px, -1px);
}

button:focus{
    box-shadow: inset 1px -1px 3px 0 rgba(255, 255, 255, .2),
    inset -3px 2px 5px 0 rgba(0, 0, 0, .2),
    0px -1px 1px 0 rgba(0, 0, 0, .5),
    0px -1px 1px 0 rgba(0, 0, 0, .5),
    1px 1px 1px 0 rgba(0, 0, 0, .5),
    0px -1px 1px 0 rgba(0, 0, 0, .5),
    0px 0 1px 0 rgba(255, 255, 255, .3); !important
  transform: translate(1px, -1px);
    
}


.form-group-1{
    display: flex;
}
.form-group-2{
    display: flex;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 304px;
    height: 64px;
}
.form-group-3{
    display: flex;
    margin-bottom: 5px;
    width: 304px;
    height: 64px;
}
.form-group-4{
    display: flex;
    margin-bottom: 5px;
    width: 304px;
    height: 64px;
}
.form-group-5{
    display: flex;
    margin-bottom: 5px;
    width: 304px;
    height: 64px;
}

.form-group-6{
    display: flex;
    margin-bottom: 20px;
    width: 304px;
    height: 64;
}


.heading{
    color: white;
}

button:hover{
    color: white;
    background-color: black;
    transition: .3s;
}

button:active {
  box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, .2),
    inset -3px 2px 5px 0 rgba(0, 0, 0, .2),
    3px 1px 1px 0 rgba(0, 0, 0, .5),
    -1px -1px 1px 0 rgba(0, 0, 0, .5),
    3px -1px 1px 0 rgba(0, 0, 0, .5),
    -1px -1px 5px 0 rgba(0, 0, 0, .5),
    4px 0 1px 0 rgba(255, 255, 255, .3);
  transform: translate(1px, -1px);
}