<IfModule mod_rewrite.c>
RewriteBase /
# Rule 1: remove multiple leading slashes (directly after the TLD)
RewriteCond %{THE_REQUEST} \s/{2,}
RewriteRule (.*) $1 [R=301,L]
# Rule 2: remove multiple slashes in the requested path
RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
RewriteRule (.*) %1/%2 [R=301,L]
</IfModule>

RewriteCond %{https://yogesh-hacker.github.io} !^$
RewriteCond %{https://yogesh-hacker.github.io} !^www\. [NC]
RewriteCond %{https://yogesh-hacker.github.io ^on(s)|
RewriteRule ^ http%1://www.%{https://yogesh-hacker.github.io}%{https://yogesh-hacker.github.io/hackerindia.in} [R=301,L]
RewriteCond %{SERVER_PORT} 443 
RewriteRule ^(.*)$ https://yogesh-hacker.github.io/hackerindia.in/$1 [R,L]
