*{
    margin: 2;
    padding: 0;
}

body{
    background-color: rgb(153,104,200);
}

#about-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.ap-1 img{
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 2px;
}

#ap-2{
    margin-top: 50px;
    background-color: rgb(180,220,255);
    height: 530px;
    border: 1px solid rgb(50,195,255);
    border-radius: 4px;
    margin-bottom: 40px;
}

.ab-det-1 p{
    margin: 30px 5px 10px 5px;
    text-align: justify;
}

#ap-3{
    margin-top: 50px;
    background-color: rgb(180,220,255);
    height: 820px;
    border: 1px solid rgb(50,195,255);
    border-radius: 4px;
    margin-bottom: 40px;
}

.ab-det-2 p{
    margin: 30px 5px 10px 5px;
    text-align: justify;
}

#ab-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.diff-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.diff-btn button{
    width: 111px;
    height: 40px;
    color: black;
    margin: 17px;
    font-size: 1rem;
    border-radius: 3px;
    cursor:pointer;
    -webkit-tap-highlight-color: transparent;
}

.abbtn1{
    background-color: rgb(224,255,223);
    border: 1px solid green;
}

.abbtn2{
    background-color: lightblue;
    border: 1px solid skyblue;
}

.abbtn3{
    background-color: lightyellow;
    border: 1px solid yellow;
}

.abbtn1:hover{
    box-shadow:0px 0px 0px 3px rgb(224,255,223);

}

.abbtn2:hover{
    box-shadow:0px 0px 0px 3px lightblue;

}

.abbtn3:hover{
    box-shadow:0px 0px 0px 3px lightyellow;

}





h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
    padding-top: 10px;
}

