# Remove file extension
# @ https://m0n.co/06
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(([^/]+/)*([^/.]+))\.html[\ ?]
	RewriteRule \.html$ /%1/ [R=301,NC,L]
	RewriteRule ^(.*)/$ /$1.html [NC,L]
</IfModule>
