*{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

#moviesrc {
    width: 99.5%;
    margin: 1px;
    height: 200px;
}

body{
    background: rgb(0,174,187);
    background: linear-gradient(180deg, rgba(0,174,187,1) 4%, rgba(0,252,127,1) 45%, rgba(230,255,67,1) 93%) no-repeat center center/cover;
}

.dmovie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dmovie button{
    border: 1px solid black;
    width: 140px;
    height: 40px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    background-color: #00A6A4;
    color: white;
    font-size: 15px;
    transition-duration: 0.3s;
}

.dmovie button:hover{
    background-color: #00E8E5;
}
